html, body {
	width:100%;
	height:100%;
	overflow:hidden;
}

* {
	margin:0px;
	padding:0px;
	font-family:Roboto, Sans-serif;
}

body {
	background-color:#999;
	font-size:0px;
}

h1 {
	font-size:32px;
}

h2 {
	font-size:24px;
}

p, strong, button {
	font-size:14px;
}

input[type=button] {
	cursor:pointer;
	padding:2px;
}

.hidden {
	display:none !important;
}

.disabled {
	opacity:0.2;
}

.slider {
	display:inline-block;
	border:2px solid #BBB;
	background-color:#CCC;
	width:30px;
	height:15px;
	border-radius:50px;
	text-align:left;
	cursor:pointer;
	margin-left:5px;
	transition:background 0.2s;
	vertical-align:bottom;
}

.slider.activated {
	background-color:#1186E3;
	border:2px solid #1990EB;
}

.slider > div {
	display:inline-block;
	background-color:#FFF;
	border-radius:50px;
	width:15px;
	height:15px;
	pointer-events:none;
	transition:margin-left 0.2s;
	transition-timing-function:ease-out;
}

.slider.activated > div {
	margin-left:15px;
}

#labelFile {
	font-size:14px;
	font-weight:bold;
	padding:10px;
	border-radius:8px;
	background:radial-gradient(#DDD, #FFF);
	margin-top:10px;
	cursor:pointer;
	display:inline-block;
}

#labelFile:hover {
	background:radial-gradient(#E5E5E5, #FFF);
}

#labelFile.activated {
	background:radial-gradient(#FFF, #D8D8D8);
}

#fileOverlay {
	margin-top:120px;
	position:fixed;
	height:calc(100% - 120px);
	width:100%;
	background-color:#ACE;
	opacity:0;
	z-index:998;
	text-align:center;
	box-shadow:inset 0px 0px 50px #05A;
	pointer-events:none;
}

#fileIcon {
	margin-top:50px;
	padding:40px;
	border:5px dashed #0AF;
	border-radius:40px;
	box-shadow:0px 0px 30px #0AF;
	pointer-events:none;
}

#canvas {
	box-shadow:0px 0px 15px #555;
	position:absolute;
	/*cursor:crosshair;*/
}

#canvasContainer {
	position:relative;
	z-index:1;
}

#debug {
	display:inline-block;
	opacity:0.75;
	font-size:12px;
	pointer-events:none;
	position:absolute;
	top:10px;
	left:10px;
}

#place {
	display:inline-block;
	position:absolute;
	float:right;
	top:5px;
	right:5px;
	border:2px solid #000;
	border-radius:3px;
	background-color:rgba(51, 51, 51, 0.9);
	transition:background 0.2s;
	padding:10px;
	text-align:right;
}

/*
#place:hover {
	background-color:rgba(51, 51, 51, 0.9);
}*/

#place p:first-child {
	color:#8AF;
	cursor:default;
	font-weight:bold;
	text-shadow:1px 1px 3px #222;
	margin-bottom:5px;
	text-align:left;
}

#place p:not(:first-child) {
	color:#DDD;
	display:inline-block;
	margin-right:5px;
	cursor:default;
}

.placeOpt input {
	width:134px;
}

.placeOpt input[type=number] {
	text-align:right;
}

#overlay {
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(50, 50, 50, 0.85);
	z-index:999;
}

#close {
	margin:5px;
	cursor:pointer;
	transition:background 0.2s;
	padding:5px;
	border-radius:5px;
	background-color:rgba(120, 120, 120, 0.8);
	float:right;
}

#close:hover {
	background-color:#AAA;
}

.popup {
	text-align:center;
	margin-top:125px;
	height:calc(100% - 125px);
	overflow:auto;
	min-height:100px;
}

.popup h1, .popup h2 {
	margin-bottom:15px;
}

.popup h1, .popup p, .popup strong, .popup h2 {
	color:#FFF;
	text-shadow:0px 0px 5px #222;
}

#panel {
	width:100%;
	min-width:550px;
	height:26px;
	background-color:#CCC;
	padding-top:2px;
	padding-bottom:2px;
}

#panel * {
	display:inline-block;
}

#Options {
	float:right;
	margin-right:5px;
}

#MoveControls .button, #EditControls .button, #StopControls .button, #StartControls .button {
	margin-left:2px;
}

#Options .button {
	margin-right:2px;
}

#MoveControls {
	margin-left:calc(50% - 254.5px);
}

#nodebar {
	background-color:#333;
	width:100%;
	min-width:1236px;
	height:86px;
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	overflow:hidden;
}

.node {
	cursor:pointer;
	transition:background 0.15s;
	padding:1px;
}

.node:hover:not(.disabled):not(.selected) {
	background-color:#5280F5;
}

.node.selected {
	background-color:#8AF;
}

.node.activated:not(.disabled) {
	background-color:#A0BBFF !important;
}

.button {
	cursor:pointer;
	transition:background 0.2s;
	border-radius:2px;
}

.button:hover:not(.disabled):not(.selected) {
	background-color:#BBB;
}

.button.selected {
	background-color:#A4A4A4;
}

.button.activated:not(.disabled) {
	background-color:#999 !important;
}

#downloadButton {
	margin-top:10px;
	margin-bottom:25px;
	cursor:pointer;
	transition:background 0.2s;
	padding:10px;
	border-radius:15px;
	background-color:rgba(120, 120, 120, 0.8);
}

#downloadButton:hover {
	background-color:#999;
}

#popup_info img, #popup_info p {
	display:inline-block;
	vertical-align:middle;
}

#popup_info img {
	margin-right:8px;
}

#InformationWrapper {
	overflow:auto;
	height:calc(100% - 52px);
}

#information {
	overflow:hidden;
	display:inline-block;
	text-align:left;
	width:800px;
}

#popup_settings {
	
}